@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease 0.5s;
}

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 30px;
  line-height: 15px;
  background: rgb(255 255 255 / var(--tw-bg-opacity));
  /* background: #0f336091; */
  color: #0f336091;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #0f33604b;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #007dfeaf;
  color: #0f33604b;
  cursor: pointer;
}
/*----- control btn -------*/

.primary-gradient {
  @apply bg-gradient-to-r from-red-600 to-pink-500 
  /* @apply bg-gradient-to-r from-pink-400 to-pink-600 */;
}

.container {
  @apply max-w-[90%] m-auto;
}

.row {
  @apply w-1/2;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border: none !important;
  box-shadow: none !important;
}

.skeleton {
  @apply opacity-70;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-wave {
  background-color: #e0e0e0; /* Set your desired background color */
  background-image: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: skeleton-wave 1.5s ease-in-out infinite;
}

.skeleton-text {
  @apply w-full h-1 rounded-sm m-1;
}

@keyframes skeleton-wave {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes skeleton-loading {
  0% {
    @apply bg-[hsl(200,20%,70%)];
  }
  100% {
    @apply bg-[hsl(200,20%,95%)];
  }
}

@layer utilities {
  .google-gradient {
    background: -webkit-linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
